<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <title>collectionManager</title>
   </head>
   <body>
      <h1>All Users</h1>
      <ul>
      {{#User}}
         <li>{{firstName}}{{lastName}}</li>
      {{/User}}
   </body>
</html>
